body {
  font-family: 'Barlow', sans-serif;
  color: $color-light--1;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.6;
}

.heading--secondary {
  font-size: 1.9rem;
}

.heading--tertiary {
 
}