$color-brand--1: #FFFB2B;

$color-shade-1: #fffb40;
$color-shade-2: #fffd80;
$color-shade-3: #fffdaa;

$color-dark--0: #000;
$color-dark--1: #1f1d2b;
$color-dark--2: #252836;
$color-dark--3: #393c49;

$color-light--1: #fff;
$color-light--2: #abbbc2;
$color-light--3: #d6dee0;
$color-light--4: #E0E6E9;

$color-counter: red;