.home {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 62% 38%;
  height: 83.4rem; 
   


  @include respond(laptop) {
    @include respond(tab-height-sh) {
      height: 100%;
    }
  }
  @include respond(tab-land) {
    grid-template-columns: 50% 50%;
    height: 100%;
    padding: 2rem;
  }

  @include respond(tab-port-sm) {
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr;
  }

  // @include respond(tab-port) {
  //   grid-template-rows: 1fr 1fr;
  //   grid-template-columns: 1fr;
  // }
}

/////////////////////
/// MENU 
.menu {
  padding: 2.4rem 2.4rem 2.4rem 2.4rem;
  background-color: $color-dark--2;;
  overflow: hidden;
  display: flex;
  flex-direction: column;


  @include respond(tab-land) {
    padding: 0rem 2.4rem 0rem 0rem;
  }
  @include respond (tab-port) {
    height: 95%;
  }

  &-tabs {
    display: flex;
    width: 100%;
    gap: 4.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #393c49;
    


    @include respond(tab-land) {
      flex-wrap: wrap;
      column-gap: 5rem;
      row-gap: 2rem;
      justify-content: center;
    }


    @include respond(tab-port-sm) {
      column-gap: 8rem;
   
    }

    @include respond(phone) {
      column-gap: 5rem;
    }
     
     
    & li {
      flex-shrink: 0;

      @include respond(tab-port) {
        flex-shrink: 0;
      }

    }

    &__active {
      border-bottom: 0.3rem solid $color-brand--1;
      border-radius: 2px;
      color: $color-brand--1;
    }

    &__link {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer;
      padding-bottom: 1.3rem;
      letter-spacing: 0.2px;

       @include respond(tab-port) {
        
      }


      @include respond(tab-port-sm) {
       
      }

      @include respond(phone-sm) {
        font-size: 1.4rem;
      }
    }

  }


  .info {
    display: grid;
    flex-direction: column;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns:repeat(2,1fr);
    
    @include respond (tab-land) {
      align-items: center;
      display: none;
    }

    @include respond(tab-port) {
      flex-direction: row;
      justify-content: center;
    }
  
    &__event {
      color: $color-light--1;
      font-size: 2.4rem;
      font-weight: 400;

    }

    &__search {
      display: flex;
      align-items: center;
      justify-self: end;
      grid-row: span 2;
      margin-bottom: 2rem;

      &-btn {
        background-color: $color-dark--2;
        width: 2.4rem;
        height: 2.4rem;
        order: -1;
       // position: relative;
        z-index: 1;
       // margin-left: 4rem;
      }

      &-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: #fff;
       // margin-left: 4rem;
      }

      &-text {
        border: 1px solid $color-dark--3;
        font-family: inherit; 
        color: $color-light--2;
        background-color: $color-dark--2;
        order: 1;
        padding-left: 4rem;
        margin-left: -3.5rem;
        width: 22rem;

        &:focus {
          outline: none;
          background-color:  $color-dark--1;
        }

        &::-webkit-input-placeholder {
          font-weight: 300;
          color: $color-light--2;
        }

         

      }

    }
  
    &__date {
      color: $color-light--4;
      font-size: 1.6rem;
      font-weight: 400;
   
    }
    
  }
}

.menu-items-container {
  overflow: auto;
  position: relative;
}

.menu-items {
  overflow: auto;
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  column-gap: 2.8rem;
  row-gap: 7.4rem;
  justify-content: flex-start;
  visibility: hidden;
  z-index: 1;


  @include respond(laptop) {
    @include respond(tab-height-sh) {
      height: 100vh;
    }
  }

  @include respond (tab-land) { 
    row-gap: 2rem;
    padding-top: 0;
    align-content: flex-start;
  }

  @include respond (tab-port-sm) {
    justify-content: space-around;
  }

  &__header {
    margin-bottom: 3rem;
  }

}

.menu-item {
    background-color: $color-dark--1;
    position: relative;
    border-radius: 1.6rem;
    height: 22.6rem;
    width: 19.2rem;
    text-align: center;

    @include respond (tab-land) { 
      width: 100%;
      height: 11rem;
 //     border-left: 3px solid $color-dark--3;
      border-radius:13px;

      @include respond (tab-height-xs) {
        height: 10rem;
      }
    }

    @include respond (tab-port-sm) {
      width: 75%;
    }


    @include respond (phone) {
      width: 90%;
    }

    @include respond (phone-sm) {
      width: 100%;
    }


    &__image img {
      width: 13.2rem;
      position: absolute;
      top: -19%;
      right: 16%;

      @include respond (tab-land) { 
        width: 8rem;
        height: 8rem;
        left: 2rem;
        top: 0.9rem;

        @include respond (tab-xs) {

        }
      }

       @include respond (tab-land-sm) {
          width: 8rem;
          height: 8rem;
        }
    }
    &__details {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 0.5rem;

      @include respond (tab-land) { 
        padding-top: 0rem;
        margin-left: 11rem;
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 65% 35%;
        gap: 0; 
        padding-left: 2rem;
      }


      @include respond (tab-land-sm) { 
        margin-left: 10rem;
      }
      

    }

    &__title {
     
      letter-spacing: 0.2px;
      padding: 0 2rem;
      line-height: 1.6;

      margin: 0 auto;

      @include respond (tab-land) { 
        margin: 0;
        font-size: 1.6rem;
        justify-self: start;
        align-self: end;
        padding: 0;
      }

    }

    &__price {
      font-size: 1.6rem;
      font-weight: 400;
      padding-bottom: 1rem;
      color: $color-light--2; 

      @include respond (tab-land) { 
        font-style: italic;
        justify-self: start;
        align-self: start; 
      }
    }

    &__info {
      position: absolute;
      top: 8.5rem;
      right: 0.4rem;

      &-icon {
        width: 3rem;
        height: 3rem;
        fill: #fffb2b;
      }


      @include respond (tab-land) { 
        display: none;
      }
    }

    &__info img {
      width: 2rem;
      cursor: pointer;
    }
    
    &__button,
    &__button-special {
      height: 5rem;
      color: $color-brand--1;
      letter-spacing: .5px;
      background-color: $color-dark--1;
      border: 0.2px $color-light--2;
      border-style: solid;
      font-size: 1.6rem;
      font-weight: 600;
      flex-shrink: 0;
      border-radius: 1.2rem;

      @include respond (tab-land) {
        width: 8rem;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 47%;
        justify-self:end;
        align-self: center;
        margin-right: 2rem;
        transition: all 0.2s ease-out;
      }

      &:hover,
      &:hover {
        background-color: $color-dark--1;
        border-color: $color-brand--1;
        cursor: pointer;
      }
    
      // &:active,
      // &:active {
      //   border: 1px $color-dark--1;
      //   border-style: solid;
      // }
  
      // &:visited,
      // &:visited {
      //   background: none;
      // }

      
    }
  
   


}

/////////////////////
// MODAL 
.modal-menu {
  &__header {
    border-bottom: 1px solid $color-dark--3;
    padding-bottom: 1.5rem;
    text-transform:uppercase;
    height: 10%;
    display: flex;
    align-items: baseline;

    span {
      color: $color-brand--1;
      font-size: 3rem;
      padding: 0 1rem;
    }
  }

  &__qty {
    padding-right: 10rem;
  }

  &__footer  {
    
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;

    button {
      height: 6rem;
      font-size: 2.4rem;
    }

    .menu-sidebar__item__qty-num {
      color: $color-brand--1;
    } 
    
    .menu-sidebar__item__qty {
      justify-content: end;
      padding-right: 3rem;
      gap: 2rem;
      align-items: flex-start;
      flex: 0;
    }
    
    .menu-sidebar__item__qty p {
      align-self: center;
      font-size: 2.4rem;
      font-style: italic;
      font-weight: 600;
    }
  }
  
}

.modal-menu-items {
  overflow: auto;
  height: 60%;
  margin-bottom: 2rem;
}

.modal-menu-item {
  padding: 2rem 0 2rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  border-bottom: 1px solid $color-dark--3;
  justify-content: space-between;

  img {
    width: 6rem;
    display: inline-block;
    margin-right: 1.5rem;
  }

  &__name {
    flex-grow: 1;
  }

  .menu-sidebar__item__qty {
    justify-self: end;
    display: flex;
    gap: 1rem;
  }

  .menu-sidebar__item__qty button {
    width: 2rem;
    font-weight: 300;
    font-size: 4rem;
    background: none;
    color: $color-brand--1;
  }

}

/////////////////////
// SIDEBAR

// 0- SIDEBAR LAYOUT
.menu-sidebar {
  background-color: $color-dark--1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $color-dark--0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;

  @include respond (tab-land) {
    border-radius: 16px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: none;
    max-height: 100%;

    @include respond (tab-height-mh) {


    }

    @include respond (tab-height-sh) {

    

    }

  }

  @include respond (tab-port-sm) {
    width: 50rem;
    position: absolute;
    top: 0;
    right: -50rem;
    transition: all 0.3s ease-out;

    &.menu-sidebar__toggle-panel {
      right: 0;
      
    }
  }

  @include respond (phone-sm) {
    width: 42rem;
    right: -42rem;
  
    &.menu-sidebar__toggle-panel {
      right: 0;
      
    }
  }

  @include respond(tab-height-xxxxs) {
    height: 100%;
    padding-top: 0;
    gap: 1rem;
  }

  & .menu-sidebar__toggle-btn {
    display: none;

    @include respond (tab-port-sm) {
      display: block;
      position: absolute;
      left: -6.2rem;
      top: 10rem;
      background-color: $color-brand--1;
      color: $color-dark--1;
      font-weight: 600;
      padding: 0.2rem 1rem;
      transform: rotate(-90deg);
    } 
    
  }

}

//1- SIDEBAR HEADING

.menu-sidebar__heading {

  height: 8%;
  border-bottom: 1px solid $color-dark--3;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  @include respond (tab-land) {
    height: 12%;

    @include respond (tab-height-lh) {
      height: 6%;
    }

    @include respond (tab-height-mh) {
      height: 9%;
    }
  }
  

  &-client-info {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
    display:flex;
    align-items: center;

    input {
      font-family: inherit;
      font-size: 2rem;
      color: #abbbc2;
      letter-spacing: 0.2px;

      :focus {
        outline: none;
      }
    }
  }

  & .menu-sidebar-number {
    margin-left: 2rem;
    padding-left: 2rem;
    width: 9rem;
    font-size: 2.4rem;
    
  }

  // &-tab {
  // width: 100%;
  // border-bottom: 1px solid $color-dark--3;
  // font-size: 1.8rem;
  // font-weight: 600;
  // display: flex;
  // padding-bottom: 1rem;
  // padding-left: 7rem;
  // justify-content: end;
  // padding-right: 8.5rem;
  
  // }
  // &-tab-item {
  //   display: block;
  //   text-align: start;
  //   flex-basis: 70%;

  // }

  // &-tab-qty,
  // &-tab-price {
  //   display: block;
  // }

  // &-tab-qty {
  //  padding-left: 4rem;
    
  // }

  // &-tab-price {
  //  padding-left: 4.5rem;

  // }

}

// 2- SIDEBAR ITEMS */
.menu-sidebar__items {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;

    @include respond(laptop) {
      @include respond(tab-height-xxs) {
        height: 57%;
      }

      @include respond(tab-height-xxxs) {
        height: 53%;
      }
    }

    @include respond(tab-land) {
      height: 57%;

      @include respond (tab-height-lh) {
        height: 72%;
      }

      @include respond (tab-height-mh) {
        height: 63%;
      }

      @include respond (tab-height-sh) {

        height: 48%;
  
      }
    }


    @include respond(tab-port-sm) {
    
    }

    &-container {
      height: 100%;
      border-bottom: 1px solid $color-dark--3;
    }
  
    &-details {
      overflow: auto;
      height: 100%;
    }
  
    &-special-container {
      border-bottom: 2px dotted $color-light--1;
      border-top: 2px dotted $color-light--1;
      padding-top: 2rem;
      margin-bottom: 2rem;

      &__header {
        display: flex;
        gap: 2rem;
        padding-bottom: 3rem;
          
        &-heading {
          font-size: 2rem;
          font-weight: 500;
          flex: 1;
        }
      
      }  
    }

    &-details .menu-sidebar__item:last-child {
      border-bottom: none;
    }

}

// 3- SIDEBAR ITEM */
.menu-sidebar__item {

    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-dark--3; 
    justify-content: space-between;

    & + .menu-sidebar__items-special-container {
      margin-top: -2.9rem;
    }

    &-special {
      margin-left: 2rem;
    }
    
    &.special-grid {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      column-gap: 0;
    }

    &__qty {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    
    &.special-grid .menu-sidebar__item__qty {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      align-self: start;
      justify-self: end;
    }
    
    &__qty span {
      text-align: center;
      font-size: 1.6rem;
      padding: 0.9rem 1.8rem;
      width: 4.4rem;
      background-color: $color-dark--2;
      border: 1px solid $color-dark--3;
      border-radius: 0.8rem;
      transition: all 0.4s;


      @include respond (md-laptop) {
        width: 4.4rem;
        border-radius: 0.6rem;
        padding: 1rem 1.8rem;
        font-size: 1.6rem;
      }
    }
    
    &__total {
      align-self: center;
      justify-self: end;
      font-size: 1.6rem;
      font-weight: 500;
      text-align: end;
      width: 17%;

      flex-shrink: 0;

      @include respond (md-laptop) {
        font-size: 1.6rem;
      }
    }
    
    &__note {
    padding-bottom: 2rem;
    }
    
    &__note input {
      width: 100%;
      text-align: start;
      padding: 0 1rem;
    }
    
    &__remove,
    &__edit {
      /* width: 4.8rem;
      height: 4.8rem; */
      cursor: pointer;
    }
    
    &__remove img,
    &__edit img {
      border: 1px solid $color-brand--1;
      border-radius: 0.8rem;
      padding: 1.1rem;
      width: 4.4rem;
      vertical-align: middle;

      @include respond (md-laptop) {
        width: 4.4rem;
        border-radius: 0.6rem;
      }
    }

    .item-content__thumb {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1.8fr 8.2fr;
      column-gap: 1rem;
    }
    
    .item-content__thumb.special-content__thumb {
      grid-template-rows: 1fr;
    }
    
    .thumb__title.special-thumb__title {
      align-self: center;
    }
    
    .thumb__image {
      grid-row: span 2;
    }
    
    .thumb__title {
      align-self: end;
      
    }
    .thumb__price {
      align-self: baseline;
      color: $color-light--2;
    }
    
    .thumb__title,
    .thumb__price {
      font-size: 1.4rem;
      font-weight: 400;

      // @include respond (md-laptop) {
      //   font-size: 1.6rem;
      // }
    }
    
    .thumb__image img {
      width: 4rem;
    }
    
}

// 4- SIDEBAR TRANSACTION
.menu-sidebar__transaction {

  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 1rem;
  height: 20%;
  margin-bottom: 2rem;
  
  @include respond (tab-land) {

    @include respond(tab-height-lh) {
      height: 13%;
      grid-template-columns: 60% 40%;
    }

    @include respond (tab-height-mh) {
      height: 17%;
    }

    @include respond (tab-height-sh) {
      height: 25%;
    }
  }

  @include respond (tab-land-sm) {
    grid-template-columns: 50% 50%;
  }


  // smh = small height



  // @include respond (med-desktop) {
  //   grid-template-columns: 50% 48%;
  //   grid-template-rows: repeat(3, 1fr);
  //   column-gap: 1rem;
  // }

  &-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &-total-title,
  &-total-price {
    font-size: 1.8rem;
    font-weight: 300;

  }

  &-total-title {
    color: $color-light--2;
  }

  &__footer {
    justify-self:end;
  }

  &-pay {
    display: flex;
    justify-content: end;
    gap: 1rem;
    grid-row-start: 2;

    // @include respond (med-desktop) {
    //   grid-column-start: 1;
    //   grid-column-end: 3;
    // }

    button {
      flex: 0 1 11rem;
      background-color: $color-dark--1;
      color: $color-light--2;
      border: 1px solid $color-light--2;
      border-radius: 8px; 
      font-size: 1.4rem;
      font-weight: 500;
      padding-top: 2.4rem;
      position:relative;
      background-repeat: no-repeat;
      background-size: 2.4rem;
      background-position-x: 50%;
      background-position-y: 23%;
      transition: none;
    }


    &__credit{
      background-image: url('url:../img/icon/subtract--dark.svg');

      &:hover {
        background-image: url('url:../img/icon/subtract--dark.svg');
        background-color: $color-dark--1;
        cursor: pointer;
        
      }
    }

  
    &__cash{
      background-image: url('url:../img/icon/wallet--dark.svg');
      background-size: 2rem;
      background-position-y: 22%;

      &:hover {
        background-image: url('url:../img/icon/wallet--dark.svg');
        background-color: $color-dark--1;
        cursor: pointer;
      }
    }

    & &-btn--active{
      background-color: $color-dark--2;
      color: $color-light--1;

    }

    &__credit.menu-sidebar__transaction-pay-btn--active {
      background-image: url('url:../img/icon/subtract--light.svg');
    }

    &__cash.menu-sidebar__transaction-pay-btn--active {
      background-image: url('url:../img/icon/wallet--light.svg');
    }

    &-btn--active::after {
      content: "";
      background-image: url('url:../img/icon/checkmark-circle.svg');
      background-repeat: no-repeat;
      position: absolute; 
      top: 0.4rem;
      right: 0.4rem;
      width: 1.6rem;
      height: 1.6rem;
    
    }
  }
  
  &-note {
    grid-row-start: 2;
    padding-right: 1rem;
    width: 100%;

  }
  
  &-note textarea {
    width: 100%;
    padding: 1rem;
    height: 100%;
    font-family: inherit;
    font-size: 1.4rem;
    background-color: $color-dark--1;
    color: #abbbc2;
    letter-spacing: 0.2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid $color-light--2;
    border-radius: 10px;



    :focus {
      outline: none;
    }
  }
}

// 5- SIDEBAR FOOTER
.menu-sidebar__footer {

  height: 5%;
  
  @include respond (tab-land) {
  

    @include respond(tab-height-lh) {
      
    }
  }

  &-submit-btn {
    height: 6rem;
    padding: 0rem 1rem;
  }

  &-save-btn.hidden {
    display: none;
  }
}
