.home {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 62% 38%;

  @include respond(tab-land) {
    grid-template-columns: 50% 50%;
  }

  @include respond(tab-port-sm) {
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr;
  }

  // @include respond(tab-port) {
  //   grid-template-rows: 1fr 1fr;
  //   grid-template-columns: 1fr;
  // }
}

/////////////////////
// GENERAL INFO 


/////////////////////
/// MENU 

.menu {
  padding: 5rem;
  background-color: $color-dark--2;
  overflow: hidden;
  height: 100%; 
  display: flex;
  flex-direction: column;

  @include respond (md-laptop) {
    padding: 3rem;
  }

  @include respond (tab-port) {
    height: 95%;
  }

  &-navbar {
    display: flex;
    width: 100%;
    gap: 6rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #393c49;
    

    @include respond(tab-port) {
      flex-wrap: wrap;
      column-gap: 4rem;
      row-gap: 2rem;
      justify-content: center;
    }

    @include respond(tab-port-sm) {
      column-gap: 8rem;
   
    }

    @include respond(phone-sm) {
      column-gap: 5rem;
    }
     
     
    & li {
      flex-shrink: 0;

      @include respond(tab-port) {
        flex-shrink: 0;
      }

    }

    &__active {
      border-bottom: 0.5rem solid $color-brand--1;
      border-radius: 2px;
    }

    &__link {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 400;
      cursor: pointer;
      padding-bottom: 2rem;

      @include respond (sm-desktop) { 
        font-size: 1.8rem;
        font-weight: 500;
       }

       @include respond(tab-port) {
        font-size: 2rem;
      }


      @include respond(tab-port-sm) {
        font-size: 1.8rem;
      }
    }

  }


  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  
    @include respond(tab-port) {
      flex-direction: row;
      justify-content: center;
    }
  
    &__event {
      color: $color-light--1;
      font-size: 2.4rem;
      font-weight: 400;

      @include respond (sm-desktop) { 
        font-size: 2.2rem;
        font-weight: 300;
      }
    }
  
    &__date {
      color: $color-light--2;
      font-size: 2rem;
      font-weight: 300;

      @include respond (sm-desktop) { 
        font-size: 1.8rem;
        font-weight: 300;
      }
   
    }
    
  }
}

.menu-items {
  overflow: auto;
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 8rem;
  justify-content: flex-start;

  @include respond (sm-desktop) { 
    row-gap: 10rem;
    column-gap: 5rem;
   
  }

  @include respond (lg-laptop) { 
    row-gap: 10rem;
    column-gap: 5rem;
  }

  @include respond (md-laptop) { 
    row-gap: 8rem;
    column-gap: 4rem;
    align-content: baseline;
  }

  @include respond (tab-land) { 
    row-gap: 4rem;
    padding-top: 0;
  }
}

.menu-item {
    background-color: $color-dark--1;
    position: relative;
    border-bottom: 2px solid $color-dark--0;
    border-radius: 1rem;
    height: 25rem;
    width: 24rem;
    text-align: center;
    cursor: pointer;

    @include respond (sm-desktop) { 
      width: 22rem;
    }

    @include respond (md-laptop) { 
      width: 21rem;
      border-radius: 1.5rem;
    }

    @include respond (tab-land) { 
      width: 100%;
      height: 11rem;
 //     border-left: 3px solid $color-dark--3;
      border-radius:13px;
    }

    &__image img {
      width: 15.2rem;
      height: 15.2rem;
      position: absolute;
      top: -21%;
      right: 19%;

      @include respond (sm-desktop) { 
        width: 14.2rem;
        height: 14.2rem;
        right: 17%;
      }

      @include respond (md-laptop) { 
       right: 16%;
      }

      @include respond (tab-land) { 
        width: 9rem;
        height: 9rem;
        left: 2rem;
        top: 0.9rem;
       }

       @include respond (tab-land-sm) {
          width: 8rem;
          height: 8rem;
          top: 1.2rem;
          left: 2rem;
        }
    }
    &__details {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 1rem;
      padding-top: 10rem;

      @include respond (tab-land) { 
        padding-top: 0rem;
        margin-left: 11rem;
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 65% 35%;
        gap: 0; 
        padding-left: 2rem;
      }


      @include respond (tab-land-sm) { 
        margin-left: 10rem;
      }
      

    }

    &__title {
      font-weight: 200;
      letter-spacing: 0.2px;
      padding: 0 2rem;
      line-height: 1.6;
      font-weight: 300;
      margin: 0 auto;

      @include respond (tab-land) { 
        margin: 0;
        font-size: 2rem;
        justify-self: start;
        align-self: end;
        padding: 0;
      }

    }

    &__price {
      font-size: 1.8rem;

      @include respond (tab-land) { 
        font-size: 2rem;
        color: $color-light--2;
        font-style: italic;
        justify-self: start;
        align-self: start; 
      }
    }

    &__info {
      position: absolute;
      top: 9.5rem;
      right: 2.5rem;

      @include respond (tab-land) { 
        top: 2rem;
        display: none;
      }
    }

    &__info img {
      width: 2.5rem;
      cursor: pointer;
    }
    
    &__button,
    &__button-special {
      height: 5rem;
      color: $color-brand--1;
      letter-spacing: .2px;
      background: none;
      border: 1px $color-light--2;
      border-style: solid;
      font-size: 1.8rem;
      font-weight: 600;
      flex-shrink: 0;
      text-transform: uppercase;

      @include respond (tab-land) {
        width: 10rem;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 50%;
        justify-self:end;
        align-self: center;
        margin-right: 2rem;
        transition: all 0.2s ease-out;
      }
    }
  
    &__button:hover,
    &__button-special:hover {
      background: $color-brand--1;
      color: $color-dark--1;
      border-color: $color-brand--1;
      cursor: pointer;
    }
  
    &__button:active,
    &__button-special:active {
      border: 1px $color-dark--1;
      border-style: solid;
    }

    &__button:visited,
    &__button-special:visited {
      background: none;
    }


}

/////////////////////
// MODAL 
.modal-menu {
  &__header {
    border-bottom: 1px solid $color-dark--3;
    padding-bottom: 2rem;
    text-transform:uppercase;

    span {
      color: $color-brand--1;
      font-size: 4rem;
      padding: 0 0.5rem;
    }
  }

  &__qty {
    padding-right: 10rem;
  }

  &__footer  {
    text-align: end;
  
    button {
      height: 6rem;
      font-size: 2.4rem;
    }

    .curr-order__item__qty-num {
      color: $color-brand--1;
    } 
    
    .curr-order__item__qty {
      justify-content: end;
      padding-right: 1.3rem;
      margin-bottom: 4rem;
      gap: 2rem;
    }
    
    .curr-order__item__qty p {
      align-self: center;
      font-size: 2.4rem;
      font-style: italic;
      font-weight: 600;
    }
  }
  
}

.modal-menu-items {
  overflow: auto;
  height: 50rem;
  margin-bottom: 2rem;
}

.modal-menu-item {
  padding: 3rem 0 3rem;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  border-bottom: 1px solid $color-dark--3;
  justify-content: space-between;

  img {
    width: 6rem;
    display: inline-block;
    margin-right: 2rem;
  }

  &__name {
    flex-grow: 1;
  }

  .curr-order__item__qty {
    justify-self: end;
    display: flex;
    gap: 2rem;
  }

  .curr-order__item__qty button {
    width: 5rem;
    font-weight: 300;
    font-size: 4rem;
    background: none;
    color: $color-brand--1;
  }

}

/////////////////////
// CURRENT ORDER

// 1- CURRENT ORDER HEADING */
.curr-order {
  background-color: $color-dark--1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $color-dark--0;
  gap: 2rem;


  @include respond (md-laptop) {
    padding: 2rem;
  }

  @include respond (tab-port-sm) {
    width: 50rem;
    position: absolute;
    top: 0;
    right: -50rem;
    height: 100vh;
    transition: all 0.3s ease-out;

    &.curr-order__toggle-panel {
      right: 0;
      
    }
  }

  @include respond (phone-sm) {
    width: 42rem;
    right: -42rem;
  
    &.curr-order__toggle-panel {
      right: 0;
      
    }
  }

  @include respond(tab-port-sm-h) {
    height: 100vh;
    padding-top: 0;
    gap: 1rem;
  }

  & .curr-order__toggle-btn {
    display: none;

    @include respond (tab-port-sm) {
      display: block;
      position: absolute;
      left: -6.2rem;
      top: 10rem;
      background-color: $color-brand--1;
      color: $color-dark--1;
      font-weight: 600;
      padding: 0.2rem 1rem;
      transform: rotate(-90deg);
    }

   
    
  }

 


  &-number {
    margin-left: 2rem;
    padding-left: 2rem;
    width: 9rem;
    font-size: 2.4rem;
    
  }

  &__heading {
    height: 8%;
    border-bottom: 1px solid $color-dark--3;
    padding-bottom: 2rem;

    @include respond (tab-port) {
      height: 6%;
    }
    // &-tab {
    // width: 100%;
    // border-bottom: 1px solid $color-dark--3;
    // font-size: 1.8rem;
    // font-weight: 600;
    // display: flex;
    // padding-bottom: 1rem;
    // padding-left: 7rem;
    // justify-content: end;
    // padding-right: 8.5rem;
    
    // }
    // &-tab-item {
    //   display: block;
    //   text-align: start;
    //   flex-basis: 70%;

    // }

    // &-tab-qty,
    // &-tab-price {
    //   display: block;
    // }

    // &-tab-qty {
    //  padding-left: 4rem;
      
    // }

    // &-tab-price {
    //  padding-left: 4.5rem;

    // }

    &-client-info {
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }
}

// 2- CURRENT ORDER ITEMS */
.curr-order__items {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 62%;

    @include respond(tab-port) {
      height: 55%;
    }


    @include respond(tab-port-sm) {
    
    }

    &-container {
      height: 58vh;
      border-bottom: 1px solid $color-dark--3;
    }
  
    &-details {
      overflow: auto;
      height: 100%;
    }
  
    &-special-container {
      border-bottom: 2px dotted $color-light--1;
      border-top: 2px dotted $color-light--1;
      padding-top: 2rem;
      margin-bottom: 2rem;

      &__header {
        display: flex;
        gap: 2rem;
        padding-bottom: 3rem;
          
        &-heading {
          font-size: 2.4rem;
          flex-grow: 1;
          flex-shrink: 0;
        }
      
      }  
    }

    &-details .curr-order__item:last-child {
      border-bottom: none;
    }

}

// 3- CURRENT ORDER ITEM */
.curr-order__item {

    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-dark--3; 
    justify-content: space-between;

    & + .curr-order__items-special-container {
      margin-top: -2.9rem;
    }

    &-special {
      margin-left: 2rem;
    }
    
    &.special-grid {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      column-gap: 0;
    }

    &__qty {
      align-self: center;
      justify-self: end;
      display: flex;
      justify-content: center;
      

      & span {
        transition: all 0.4s;
      }
    
    }
    
    &.special-grid .curr-order__item__qty {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      align-self: start;
      justify-self: end;
    }
    
    &__qty span {
      display: inline-block;
      text-align: center;
      font-size: 1.8rem;
      background: $color-dark--3;
      padding: 1.1rem 1.8rem;
      border-radius: 0.8rem;
      width: 5rem;

      @include respond (md-laptop) {
        width: 4.4rem;
        border-radius: 0.6rem;
        padding: 1rem 1.8rem;
        font-size: 1.6rem;
      }
    }
    
    &__total {
      align-self: center;
      justify-self: end;
      font-size: 1.8rem;
      text-align: end;
      width: 17%;

      flex-shrink: 0;

      @include respond (md-laptop) {
        font-size: 1.6rem;
      }
    }
    
    &__note {
    padding-bottom: 2rem;
    }
    
    &__note input {
      width: 100%;
      text-align: start;
      padding: 0 1rem;
    }
    
    &__remove,
    &__edit {
      /* width: 4.8rem;
      height: 4.8rem; */
      cursor: pointer;
    }
    
    &__remove img,
    &__edit img {
      border: 1px solid $color-brand--1;
      border-radius: 0.8rem;
      padding: 1.1rem;
      width: 4.8rem;
      vertical-align: middle;

      @include respond (md-laptop) {
        width: 4.4rem;
        border-radius: 0.6rem;
      }
    }

    .item-content__thumb {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1.8fr 8.2fr;
      column-gap: 1rem;
    }
    
    .item-content__thumb.special-content__thumb {
      grid-template-rows: 1fr;
    }
    
    .thumb__title.special-thumb__title {
      align-self: center;
    }
    
    .thumb__image {
      grid-row: span 2;
    }
    
    .thumb__title {
      align-self: end;
    }
    .thumb__price {
      align-self: baseline;
      color: $color-light--2;
    }
    
    .thumb__title,
    .thumb__price {
      font-size: 1.8rem;

      @include respond (md-laptop) {
        font-size: 1.6rem;
      }
    }
    
    .thumb__image img {
      width: 6rem;
    }
    
}

// 4- CURRENT ORDER TRANSACTION
.curr-order__transaction {

  display: grid;
  grid-template-columns: 61% 39%;
  row-gap: 1rem;
  height: 15%;
  
  @include respond (big-desktop) {
    grid-template-columns: 55% 45%;
  }

  @include respond (med-desktop) {
    grid-template-columns: 50% 50%;
  }

  // @include respond (med-desktop) {
  //   grid-template-columns: 50% 48%;
  //   grid-template-rows: repeat(3, 1fr);
  //   column-gap: 1rem;
  // }

  &-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &-total-title,
  &-total-price {
    font-size: 2.4rem;
    font-weight: 300;

  }

  &-total-title {
    color: $color-light--2;
  }

  &__footer {
    justify-self:end;
  }

  &-pay {
    display: flex;
    justify-content: end;
    gap: 2rem;
    grid-row-start: 2;

    // @include respond (med-desktop) {
    //   grid-column-start: 1;
    //   grid-column-end: 3;
    // }

    button {
      background-color: $color-dark--1;
      color: $color-light--2;
      width: 11rem;
      border: 1px solid $color-light--2;
      border-radius: 8px; 
      font-size: 1.4rem;
      font-weight: 500;
      padding-top: 2.4rem;
      position:relative;
      background-repeat: no-repeat;
      background-size: 2.4rem;
      background-position-x: 50%;
      background-position-y: 23%;
      transition: none;
    }


    &__credit{
      background-image: url('url:../img/icon/subtract--dark.svg');

      &:hover {
        background-image: url('url:../img/icon/subtract--dark.svg');
        background-color: $color-dark--1;
        cursor: pointer;
        
      }
    }

  
    &__cash{
      background-image: url('url:../img/icon/wallet--dark.svg');
      background-size: 2rem;
      background-position-y: 22%;

      &:hover {
        background-image: url('url:../img/icon/wallet--dark.svg');
        background-color: $color-dark--1;
        cursor: pointer;
      }
    }

    & &-btn--active{
      background-color: $color-dark--2;
      color: $color-light--1;

    }

    &__credit.curr-order__transaction-pay-btn--active {
      background-image: url('url:../img/icon/subtract--light.svg');
    }

    &__cash.curr-order__transaction-pay-btn--active {
      background-image: url('url:../img/icon/wallet--light.svg');
    }

    &-btn--active::after {
      content: "";
      background-image: url('url:../img/icon/checkmark-circle.svg');
      background-repeat: no-repeat;
      position: absolute; 
      top: 0.4rem;
      right: 0.4rem;
      width: 1.6rem;
      height: 1.6rem;
    
    }
  }
  
  &-note {
    grid-row-start: 2;
    width: 100%;

    // @include respond (med-desktop) {
    //   grid-row-start: 3;
    //   grid-column-start: 1;
    //   grid-column-end: 3;
    // }
  }
  
  &-note input {
    width: 100%;
    padding: 2rem;
    height: 100%;
  }
}

// 5- CURRENT ORDER FOOTER
.curr-order__footer {
  &-submit-btn {
    height: 6rem;
    padding: 0rem 1rem;
    font-size: 2rem;
  }

  &-save-btn.hidden {
    display: none;
  }
}
