.home {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 62% 38%;
}

/////////////////////
// GENERAL INFO 
.info {
  font-size: 2.2rem;
  font-weight: 600;
  height: 13%;

  @include respond (sm-desktop) { 
    height: 15%;
  }

  &__title {
    align-self: end;
  }

  &__date {
    color: $color-light--2;
    font-size: 1.8rem;
    font-weight: 400;
  }
}

/////////////////////
/// MENU 

.menu {
  padding: 5rem 5rem;
  background-color: $color-dark--2;
  overflow: hidden;
  height: 100%;

  &-navbar {
    width: 100%;
    border-bottom: 1px solid #393c49;
    margin-bottom: 2rem;
    display: flex;
    gap: 4rem;
    padding-bottom: 2rem;
    height: 7%;
    &__active {
      border-bottom: 0.3rem solid $color-brand--1;
    }

    &__link {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 500;
      cursor: pointer;
      padding-bottom: 2rem;

      @include respond (sm-desktop) { 
        font-size: 1.8rem;
        font-weight: 300;
       }
    }

  }
}

.menu-items {
  overflow: auto;
  padding-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  gap: 8rem;
  justify-content: flex-start;

  @include respond (sm-desktop) { 
    row-gap: 2rem;
    column-gap: 7rem;
    padding-top: 2rem;
  }

  @include respond (lg-laptop) { 
    row-gap: 1rem;
    column-gap: 5rem;
  }


}

.menu-item {
    background-color: $color-dark--1;
    position: relative;
    border-radius: 1rem;
    height: 24rem;
    width: 24rem;
    text-align: center;


    @include respond (sm-desktop) { 
      width: 22rem;
    }

    @include respond (md-laptop) { 
      width: 15rem;
    }

    
    &__price {
      font-size: 1.8rem;
    }

    &__image img {
      width: 13.2rem;
      height: 13.2rem;
      position: absolute;
      top: -17%;
      right: 22%;

      @include respond (sm-desktop) { 
        width: 9.2rem;
        height: 9.2rem;
        position: initial;
        display: inline-block;
        margin-top: 1rem;
      }


      @include respond (md-laptop) { 
        width: 7.2rem;
        height: 7.2rem;
      }
    }
    &__details {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 1rem;

      @include respond (sm-desktop) { 
       height:fit-content;
      }

      @include respond (md-laptop) { 
        height: 63%;
       }
    }

    &__title {
      font-weight: 200;
      letter-spacing: 0.2px;
      padding: 0 2rem;
      line-height: 1.6;
      font-weight: 300;
      margin: 0 auto;

    }

    &__info {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      @include respond (md-laptop) { 
        top: 1.2rem;
        right: 1.2rem;
      }
    }

    &__info img {
      width: 2.5rem;
      cursor: pointer;

            
      @include respond (md-laptop) { 
        height: 63%;
        width: 2rem;
       }
    }
    
    &__button,
    &-special__button {
      height: 5rem;
      background: none;
      border: 1px solid $color-light--2;
      color: $color-brand--1;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 0.2px;
    }
    
  
    &__button:hover,
    &-special__button:hover {
      background: $color-shade-2;
      border: 1px solid $color-shade-2;
      color: $color-dark--1;
      cursor: pointer;
    }
  
    &__button:active,
    &-special__button:active {
      border: 1px solid $color-brand--1;
      background: $color-brand--1;
    }
}

/////////////////////
// MODAL 
.modal-menu {
  &__header {
    border-bottom: 1px solid $color-dark--3;
    padding-bottom: 2rem;
    text-transform:uppercase;

    span {
      color: $color-brand--1;
      font-size: 4rem;
      padding: 0 0.5rem;
    }
  }

  &__qty {
    padding-right: 10rem;
  }

  &__footer  {
    text-align: end;
  
    button {
      height: 6rem;
      font-size: 2.4rem;
    }

    .curr-order__item__qty-num {
      color: $color-brand--1;
    } 
    
    .curr-order__item__qty {
      justify-content: end;
      padding-right: 1.3rem;
      margin-bottom: 4rem;
      gap: 2rem;
    }
    
    .curr-order__item__qty p {
      align-self: center;
      font-size: 2.4rem;
      font-style: italic;
      font-weight: 600;
    }
  }
  
}

.modal-menu-items {
  overflow: auto;
  height: 50rem;
  margin-bottom: 2rem;
}

.modal-menu-item {
  padding: 3rem 0 3rem;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  border-bottom: 1px solid $color-dark--3;
  justify-content: space-between;

  img {
    width: 6rem;
    display: inline-block;
    margin-right: 2rem;
  }

  &__name {
    flex-grow: 1;
  }

  .curr-order__item__qty {
    justify-self: end;
    display: flex;
    gap: 2rem;
  }

  .curr-order__item__qty button {
    width: 5rem;
    font-weight: 300;
    font-size: 4rem;
    background: none;
    color: $color-brand--1;
  }

}

/////////////////////
// CURRENT ORDER

// 1- CURRENT ORDER HEADING */
.curr-order {
  background-color: $color-dark--1;
  padding: 3rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $color-dark--0;
  gap: 2rem;

  &-number {
    margin-left: 2rem;
    padding-left: 2rem;
    width: 9rem;
    font-size: 2.4rem;
  }

  &__heading {
    height: 13%;

    &-tab {
    width: 100%;
    border-bottom: 1px solid $color-dark--3;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    padding-bottom: 1rem;
    
    
    }
    &-tab-item {
      display: block;
      flex-basis: 65%;
      text-align: start;
    }

    &-tab-qty,
    &-tab-price {
      display: block;
      flex-basis: 15%;
    }

    &-client-info {
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }
}

// 2- CURRENT ORDER ITEMS */
.curr-order__items {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 58%;

    &-container {
      height: 55vh;
      border-bottom: 1px solid $color-dark--3;
    }
  
    &-details {
      overflow: auto;
      height: 100%;
    }
  
    &-special-container {
      border: 1px solid $color-light--2;
      border-radius: 0.8rem;
      padding: 3rem;
      margin-bottom: 3rem;
  
      h1 {
        font-size: 2.4rem;
        flex-grow: 1;
        flex-shrink: 0;
      }

      &__header {
        display: flex;
        gap: 1rem;
        padding-bottom: 3rem;
      
      }  
    }

    &-details .curr-order__item:last-child {
      border: none;
    }
}

// 3- CURRENT ORDER ITEM */
.curr-order__item {

    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-dark--3;
    justify-content: space-between;

    &.special-grid {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      column-gap: 0;
    }

    &__qty {
      align-self: center;
      justify-self: end;
      display: flex;
      justify-content: center;
      transition: all 0.4s;
    
    }
    
    &.special-grid .curr-order__item__qty {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      align-self: start;
      justify-self: end;
    }
    
    &__qty span {
      display: inline-block;
      text-align: center;
      font-size: 1.8rem;
      background: $color-dark--3;
      padding: 1.1rem 1.8rem;
      border-radius: 0.8rem;
      width: 5rem;
    }
    
    &__total {
      align-self: center;
      justify-self: end;
      font-size: 1.8rem;
      text-align: end;
      width: 17%;
    }
    
    &__note {
    padding-bottom: 2rem;
    }
    
    &__note input {
      width: 100%;
      text-align: start;
      padding: 0 1rem;
    }
    
    &__remove,
    &__edit {
      /* width: 4.8rem;
      height: 4.8rem; */
      cursor: pointer;
    }
    
    &__remove img,
    &__edit img {
      border: 1px solid $color-brand--1;
      border-radius: 0.8rem;
      padding: 1.1rem;
      width: 4.8rem;
      vertical-align: middle;
    }

    .item-content__thumb {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1.8fr 8.2fr;
      column-gap: 1rem;
    }
    
    .item-content__thumb.special-content__thumb {
      grid-template-rows: 1fr;
    }
    
    .thumb__title.special-thumb__title {
      align-self: center;
    }
    
    .thumb__image {
      grid-row: span 2;
    }
    
    .thumb__title {
      align-self: end;
    }
    .thumb__price {
      align-self: baseline;
      color: $color-light--2;
    }
    
    .thumb__title,
    .thumb__price {
      font-size: 1.8rem;
    }
    
    .thumb__image img {
      width: 6rem;
    }
    
}

// 4- CURRENT ORDER TRANSACTION
.curr-order__transaction {

  display: grid;
  grid-template-columns: 61% 39%;
  row-gap: 1rem;
  height: 15%;
  
  @include respond (big-desktop) {
    grid-template-columns: 55% 45%;
  }

  @include respond (med-desktop) {
    grid-template-columns: 50% 48%;
    column-gap: 1rem;
  }

  &-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &-total-title,
  &-total-price {
    font-size: 2.4rem;
    font-weight: 300;

  }

  &-total-title {
    color: $color-light--2;
  }

  &__footer {
    justify-self:end;
  }

  &-pay {
    display: flex;
    justify-content: end;
    gap: 2rem;
    grid-row-start: 2;

    button {
      background-color: $color-dark--1;
      color: $color-light--2;
      width: 10rem;
      height: 6rem;
      border: 1px solid $color-light--2;
      border-radius: 8px; 
      font-size: 1.4rem;
      font-weight: 500;
      padding-top: 2.4rem;
      position:relative;
      background-repeat: no-repeat;
      background-size: 2.4rem;
      background-position-x: 50%;
      background-position-y: 23%;
      transition: none;
    }


    &__credit{
      background-image: url('../img/icon/subtract--dark.svg');

      &:hover {
        background-image: url('../img/icon/subtract--dark.svg');
        background-color: $color-dark--1;
        cursor: pointer;
        
      }
    }

  
    &__cash{
      background-image: url('../img/icon/wallet--dark.svg');
      background-size: 2rem;
      background-position-y: 22%;

      &:hover {
        background-image: url('../img/icon/wallet--dark.svg');
        background-color: $color-dark--1;
        cursor: pointer;
      }
    }

    & &-btn--active{
      background-color: $color-dark--2;
      color: $color-light--1;

    }

    &__credit.curr-order__transaction-pay-btn--active {
      background-image: url('../img/icon/subtract--light.svg');
    }

    &__cash.curr-order__transaction-pay-btn--active {
      background-image: url('../img/icon/wallet--light.svg');
    }

    &-btn--active::after {
      content: "";
      background-image: url('../img/icon/checkmark-circle.svg');
      background-repeat: no-repeat;
      position: absolute; 
      top: 0.4rem;
      right: 0.4rem;
      width: 1.6rem;
      height: 1.6rem;
    
    }
  }
  
  &-note {
    grid-row-start: 2;
    width: 100%;
  }
  
  &-note input {
    width: 100%;
    height: 6rem;
    padding: 2rem;
  }
}

// 5- CURRENT ORDER FOOTER
.curr-order__footer {
  &-submit-btn {
    height: 6rem;
    padding: 0rem 1rem;
    font-size: 2rem;
  }

  &-save-btn.hidden {
    display: none;
  }
}
