
.modal.hidden,
.overlay.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 50%;
  min-width: 45rem;
  max-height: 70%;
  margin: 0 auto;
  justify-content: space-around;

  background-color: $color-dark--1;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba($color-dark--0,0.3);
  z-index: 10;

  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-dark--0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;

}

.close-modal {
  flex: 0 0 3rem;
  height: 2rem;
  font-size: 5rem;
  color:   $color-light--1;
  background: none;
  display: flex;
  align-items: center;
  justify-content: end;

  &:hover {
    background: none;
    color:   $color-brand--1;
  }
}