/* NAVBAR */
.navbar {
  background-color: $color-dark--1;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0;
  z-index: 0;

  &__logo  {
    // background-image: url('../img/general/logo.png');
    // background-size:10.4rem;
    // background-repeat: no-repeat;
    // padding: 5.2rem;
    // align-self: center;
    
    align-self: center;

    @include respond (tab-land) {
      display: none;
    }
    
    img {
      width: 10rem;
      
      @include respond (lg-laptop) { 
        width: 9rem;
        // background-size: 5.2rem;
      }

      @include respond (md-laptop) { 
        width: 8rem;
        // background-size: 5.2rem;
      }


    }

  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  &__link {
    display: block;
    padding: 3.2rem;
    border-radius: 14px;
    background-repeat: no-repeat;
    background-size: 2.8rem;
    background-position: center;
    align-self: center;
    //transition: background-color 0.2s;

    @include respond (md-laptop) {
      padding: 2.4rem; 
      background-size: 2.4rem;
      border-radius: 8px;
    }

    //.navbar__link
    &-cook {
      background-image: url('../img/icon/navbar/yellow/cook.svg');
    }

    &-dash {
      background-image: url('../img/icon/navbar/yellow/dashboard.svg');
    }

    &-settings {
      background-image: url('../img/icon/navbar/yellow/settings.svg');
    }

    &-home {
      background-image: url('../img/icon/navbar/yellow/home.svg');
    }

    &-logout {
      background-image: url('../img/icon/navbar/yellow/logout.svg');
    }

    //.navbar__link
    &--active {
      background-color: $color-brand--1;
      box-shadow: 0px 0px 23px -8px $color-brand--1;
      border-radius: 14px;
      position: relative;

      @include respond (md-laptop) { 
        box-shadow: 0px 0px 36px -8px;
        border-radius: 8px;
      }
      &::before {
        content: "";
        background-color: $color-dark--3;
        padding: 4.4rem;
        position: absolute; 
        transform: translate(-50%, -50%);
        border-radius: 14px;
        z-index: -1;

        @include respond (md-laptop) { 
          padding: 3.2rem;
          border-radius: 8px;
        }
      }

      //.navbar__link--active
      &.navbar__link-cook {
        background-image: url('../img/icon/navbar/dark/cook.svg');
      }
      
      &.navbar__link-dash {
        background-image: url('../img/icon/navbar/dark/dashboard.svg');
      }
      
      &.navbar__link-settings {
        background-image: url('../img/icon/navbar/dark/settings.svg');
      }
      
      &.navbar__link-home {
        background-image: url('../img/icon/navbar/dark/home.svg');
      }
      
      &.navbar__link-logout {
        background-image: url('../img/icon/navbar/dark/logout.svg');
      }

    }
  }
}