.spinner {
  text-align: center;
  position: absolute;
  // z-index: -1;
  left: 45%;

  svg {
    height: 6rem;
    width: 6rem;
    fill: $color-brand--1;
    animation: rotate 2s infinite linear;
  }

  &.hideSpinner  {
    top: -200%;
  }

}
 
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

