.container {
  max-width: 120rem;
  margin:  4rem auto;
  height: 83.4rem;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  background-color: #fff;
  grid-template-rows: 100%;
  grid-template-columns: 7.7% 92.3%;
  display: grid;

  &::-webkit-scrollbar {
    width: 0.25em;
  }
  &::-webkit-scrollbar-track {
    background: $color-dark--1;
  }

  @include respond(tab-port) {
    @include grid--tab;
    overflow-y: hidden;
  }

  @include respond(tab-port-sm) {
    grid-template-rows: 8% 92%;
  }

}

.main {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}